<header>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
   <div class="container-fluid">
     <a class="navbar-brand" href="#">League of Friends</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="#">フレンド検索</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">コミュニティーボード</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">サークル</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">League of Friendsについて</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">ユーザー登録</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
   </div>
 </nav>
</header>